<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h1>Register</h1>
      <div class="well">
        <form role="form" ng-submit="vm.register()">
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control"
                   id="username" ng-model="vm.username" autocomplete="off">
            <div style="color:red" ng-show="vm.username_dup_err">
              username is duplicated.
            </div>
            <div style="color:red" ng-show="vm.username_req_err">
              username required
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password"
                   ng-model="vm.password">
            <div style="color:red" ng-show="vm.password_req_err">
              password required
            </div>
          </div>
          <div class="form-group">
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" class="form-control"
                   id="confirm_password" ng-model="vm.confirm_password">
            <div style="color:red" ng-show="vm.confirm_password_req_err">
              confirm password required
            </div>
            <div style="color:red" ng-show="vm.password_match()">
              confirm password does not match with password
            </div>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
